<template>
	<div class="card"> 
		<h2> Add new product </h2>
		<div style={divStyle}> 

			<form @submit="handleSubmit($event)">
				<div class="container-fluid">
					<div class="form-group">
						<label >Title</label>
						<input type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Title"  @change="handleInput('title',$event)"/>

					</div>

					<div class="form-group">
						<label >Description</label>
						<input type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Description"  @change="handleInput('description',$event)" />

					</div>
					<div class="form-group">
						<label >Precio</label>
						<input type="number" class="form-control" id="exampleInputPassword1"
						placeholder="Precio"  @change="handleInput('price',$event)" />

					</div>


					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>

</template>

<script>
export default {
	mounted() {
		console.log('Component mounted.');
	},
	dada(){
		return {
			newProduct

		};
	}
	,
	methods:{
		handleInput:function (key, e) {

			/*Duplicating and updating the state */
			var state = Object.assign({}, this.newProduct); 
			state[key] = e.target.value;
			this.newProduct= state;

		},
		/* This method is invoked when submit button is pressed */
		handleSubmit:function (e) {

			e.preventDefault();
			this.$emit('AddProduct',this.newProduct);
		}
	}
}

</script>