<template>
	
	<div class="card">
		<div class="card-body">
			<h2 class ="card-title" >Information </h2>

			<div v-if="$parent.currentProduct"> 
				<h2> {{$parent.currentProduct.title}} </h2>
				<p> {{$parent.currentProduct.description}} </p>
				<h3> Status {{$parent.currentProduct.availability ? 'Available' : 'Out of stock'}} </h3>
				<h3> Price : {{$parent.currentProduct.price}} </h3>
				<button type="button"  @click="onClickDeleteProduct()" class="btn btn-danger">
					delete
				</button>
			</div>
			<div v-else>Product Doesnt exist</div>

		</div>

	</div>
</template>

<script>

export default {
	props: ['product'],
	mounted() {

		console.log('Component mounted.')
	},
	methods: {
		onClickDeleteProduct: function () {
			
			this.$emit('handleDelete');

		}


	}
}
</script>
