<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                   <div class="card" style="width: 100%; height: 700px; overflow-y: scroll;">
                    <ul class="list-group">

                        <product 
                        v-for="product in products"
                        v-bind:key="product.id"
                        v-bind:product="product"
                        @handleClick="handleClick">

                    </product>
                </ul>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <info-product @handleDelete="handleDelete"></info-product>
                </div>

                <div class="col-sm-6">
                    <add-product @AddProduct="handleAddProduct"></add-product>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</template>

<script>
import InfoProduct from './InfoProduct.vue';
import AddProduct from './AddProduct.vue';
export default {
    components: {
        InfoProduct,
        AddProduct
    },
    data() {
        return {
            products:[],
            currentProduct:null

        }
    },


    mounted() {
        self=this;

        fetch('api/products')
        .then(response => {
            return response.json();
        })
        .then(products => {
            //Fetched product is stored in the state
            self.products=products;
            
        });



    },

    methods: {
        handleAddProduct(product){
            product.price = Number(product.price);
            product.availability = true;
            self=this;

            /*Fetch API for post request */
            fetch( 'api/products/add', {
             method:'post',
             /* headers are important*/
             headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json',
               'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
           },

           body: JSON.stringify(product)
       })
            .then(response => {
             return response.json();
         })
            .then( data => {
       //update the state of products and currentProduct
       self.products.push(data);
       self.currentProduct=data;
      
   })
        },
        handleDelete(){

            self=this;
            const currentProduct = self.currentProduct;
            fetch( 'api/products/' + self.currentProduct.id,
              { method: 'delete' })
            .then(response => {
                /* Duplicate the array and filter out the item to be deleted */
                var array = self.products.filter(function(item) {
                    return item !== currentProduct
                });

                self.products= array;
                self.currentProduct= null;

            });
        },
        handleClick: function (product,e) {

          e.target.parentElement.childNodes.forEach(function(element){
            element.classList.remove('active');
        });

          e.target.classList.add('active');
          this.currentProduct=product;
      }
  },
}



Vue.component('product', {
  props: ['product'],

  methods: {
      handleClick: function (product,e) {

        this.$emit('handleClick',product,e);

    }
},
template: `
<li class="list-group-item" @click="handleClick(product,$event)" v-bind:key="product.id" >
{{ product.title }}
</li>      
`
})
</script>
